In [158]:

def combine_files(file_list, column_list):
    import pandas as pd
    df = pd.DataFrame()
    i=0
    temp_dataframe = pd.DataFrame()
    for file in file_list:
        i+=1
        data = pd.read_csv(file, sep='\t', 
                           header=None,
                           names = ['a_' + str(i), 'b_' + str(i), 'c_' + str(i), 'd_' + str(i), 
                           'e_' + str(i), 'f_' + str(i), 'g_' + str(i), 'h_' + str(i)])
        for column in column_list:
            column_slice = data.iloc[:, column-1:column:1]
            df = pd.concat([df, column_slice],axis=1)
    length = df.shape[0]
    i=3
    xs = df.iloc[:, 1:((i*2) - 1):2]
    ys = df.iloc[:, 2:(i*2):2]
    x_average_list = []
    y_average_list = []
    for char in range(length):
        x_average_list.append(sum(xs.iloc[char]) / float(len(xs.iloc[char])))
        y_average_list.append(sum(ys.iloc[char]) / float(len(ys.iloc[char])))
    df.insert(2*i, "Y Average", y_average_list, True)
    df.insert(2*i, "X Average", x_average_list, True)
    return df

In [159]:
column_list = [2,6]


file_list = ["C:/Users/willi/Desktop/Savin Group/column select from multiple files/24_07_15_11_48_37.dat",
            "C:/Users/willi/Desktop/Savin Group/column select from multiple files/24_07_15_11_49_03.dat",
            "C:/Users/willi/Desktop/Savin Group/column select from multiple files/24_07_15_11_49_13.dat"]

In [160]:
df = combine_files(file_list, column_list)

In [138]:
length = df.shape[0]
i=3
xs = df.iloc[:, 1:((i*2) - 1):2]
ys = df.iloc[:, 2:(i*2):2]
x_average_list = []
y_average_list = []
for char in range(length):
    x_average_list.append(sum(xs.iloc[char]) / float(len(xs.iloc[char])))
    y_average_list.append(sum(ys.iloc[char]) / float(len(ys.iloc[char])))
    df.insert(2*i, "Y Average", y_average_list, True)
df.insert(2*i, "X Average", x_average_list, True)
df.insert(2*i, "Y Average", y_average_list, True)

In [161]:
df

,b_1,f_1,b_2,f_2,b_3,f_3,X Average,Y Average
0,-0.002917,-0.011840,-0.002671,0.006403,0.005103,0.011960,-0.002718,0.001216
1,-0.002529,-0.010330,0.011030,-0.000585,-0.001501,-0.001944,-0.005458,0.004764
2,-0.002101,-0.007189,0.004444,0.001116,0.001073,0.002642,-0.003037,0.002759
3,-0.004221,-0.011690,0.011140,0.008342,-0.000889,0.006216,-0.001674,0.005126
4,-0.003159,-0.003019,0.008310,-0.003570,0.005586,-0.000135,-0.003294,0.006948
...,...,...,...,...,...,...,...,...
1196,-0.005163,-0.000119,-0.009391,-0.003130,0.000551,-0.002732,-0.001625,-0.004420
1197,0.005915,0.002042,-0.011050,-0.003535,0.003782,-0.006641,-0.000746,-0.003634
1198,-0.003628,-0.006797,-0.010690,-0.004736,-0.005862,0.003590,-0.005766,-0.008276
1199,-0.002586,0.004818,-0.013930,0.000092,0.003993,-0.007506,0.002455,-0.004968
1200,-0.000146,-0.000591,-0.006086,-0.001084,0.004004,-0.004883,-0.000837,-0.001041

In [162]:
column_list = [2,6]


file_list = ["C:/Users/willi/Desktop/Savin Group/column select from multiple files/24_07_15_11_48_37.dat",
            "C:/Users/willi/Desktop/Savin Group/column select from multiple files/24_07_15_11_49_03.dat",
            "C:/Users/willi/Desktop/Savin Group/column select from multiple files/24_07_15_11_49_13.dat"]

output_filename = ""

import pandas as pd
df = pd.DataFrame()
i=0
temp_dataframe = pd.DataFrame()
for file in file_list:
    i+=1
    data = pd.read_csv(file, sep='\t', 
                        header=None,
                        names = ['a_' + str(i), 'b_' + str(i), 'c_' + str(i), 'd_' + str(i), 
                        'e_' + str(i), 'f_' + str(i), 'g_' + str(i), 'h_' + str(i)])
    for column in column_list:
        column_slice = data.iloc[:, column-1:column:1]
        df = pd.concat([df, column_slice],axis=1)
length = df.shape[0]
i=3
xs = df.iloc[:, 1:((i*2) - 1):2]
ys = df.iloc[:, 2:(i*2):2]
x_average_list = []
y_average_list = []
for char in range(length):
    x_average_list.append(sum(xs.iloc[char]) / float(len(xs.iloc[char])))
    y_average_list.append(sum(ys.iloc[char]) / float(len(ys.iloc[char])))
df.insert(2*i, "Y Average", y_average_list, True)
df.insert(2*i, "X Average", x_average_list, True)
df.to_csv(filename)

NameError: name 'filename' is not defined